
.sceances {
  border: 2px solid #2189b2;

  th {
    background-color: #2189b2;
    color: white;
    border: 1px solid #2189b2;
    font-size: 1.2em;
  }

  td {
    border: 1px solid #2189b2;
    padding: 5px;
  }
}

