@font-face {
  font-family: "Courgette";
  src: url("/assets/fonts/Courgette-Regular.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/Courgette-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/assets/fonts/Courgette-Regular.otf") format("opentype"), /* Open Type Font */
    url("/assets/fonts/Courgette-Regular.svg") format("svg"), /* Legacy iOS */
    url("/assets/fonts/Courgette-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/assets/fonts/Courgette-Regular.woff") format("woff"), /* Modern Browsers */
    url("/assets/fonts/Courgette-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Samarkan';
  src: url('/assets/fonts/SamarkanNormal.ttf');
  src: url('/assets/fonts/SamarkanNormal.eot');
  src: url('/assets/fonts/SamarkanNormal.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/SamarkanNormal.woff2') format('woff2'),
    url('/assets/fonts/SamarkanNormal.woff') format('woff'),
    url('/assets/fonts/SamarkanNormal.svg#SamarkanNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: '/assets/fonts/PetitaMedium';
    src: url('/assets/fonts/PetitaMedium.eot');
    src: url('/assets/fonts/PetitaMedium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/PetitaMedium.woff2') format('woff2'),
        url('/assets/fonts/PetitaMedium.woff') format('woff'),
        url('/assets/fonts/PetitaMedium.ttf') format('truetype'),
        url('/assets/fonts/PetitaMedium.svg#PetitaMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}
