
body {
  margin: 0;
  // font-family: "PetitaMedium";

  font-family: brandon-grotesque, sans-serif;
  font-weight: 300;
  font-style: normal;
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }
  .content {
    margin-top: 150px;
    // margin-left: 300px;
  }
}

h1, h2, h3, h4 {
  color: #2189b2;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 300;
  font-style: normal;
}

a:link {
  text-decoration: none;
  cursor: pointer;
}

.content {
	width: 100%;
	padding: 20px;
}

.content.noborder {
	padding: 0px;
}

.content .title {
	text-align: center;
}

.citation {
	margin: 0;
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

.home {
	width: 100vw;
}

@media only screen and (min-width: 1024px) {
  .citation {
    width: 700px;
    margin: auto;
  }
}

.citation .over {
	top: 10%;
	right: 10%;
	color: #2189b2;
	font-family: 'Amatic SC', cursive;
	font-size: 2em;
}

@media only screen and (min-width: 1024px) {
	.citation .over {
		font-size: 3.5em;
	}
}

.line1 {
	display: block;
}
.line2 {
	display: block;
}

.pre.quote,
.post.quote {
	width: 50px;
}

.pre.quote {
	vertical-align: top;
}

.post.quote {
	vertical-align: bottom;
}

.author {
	padding-top: 5px;
	display: block;
  font-style: italic;
  text-align: right;
  font-size: 0.6em;
  opacity: 0.6;
  color: #666;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #414141;
    width: 100%;
}

th{
    border:1px solid #414141;
    background-color: #eee;
    width: 20%;
}

td{
    border:1px solid #414141;
}

