
body {
  margin: 0;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1, h2, h3, h4 {
  color: #2189b2;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 300;
  font-style: normal;
}

a:link {
  text-decoration: none;
  cursor: pointer;
}

.content {
	width: calc(100vw - 40px);
	padding: 20px;
  min-height: 80vh;
  margin-top: 150px;
}

.content.noborder {
  width: calc(100vw);
	padding: 0px;
  margin-top: 0px;
}

.content .first.section img {
  border-right: 10px solid #FFF;
  border-left: 10px solid #FFF;
  border-top: 10px solid #FFF;
  width: calc(100vw - 20px);
}

.content .title {
	text-align: center;
}

.content.noborder {
  position: relative;
}

.content.noborder .first.section {
  position: relative;
}

.content.noborder .title {
  position: absolute;
  text-align: center;
  margin: auto;
  display: inline-block;
  top: 30%;
  left: 0;
  width: 100%;
}

.content.noborder .title h1 {
  font-family: courgette;
  display: inline-block;
  background-color: #FFF;
  color: #2189b2;
  padding: 20px;
  border: 4px solid #2189b2;
}

.home {
	width: 100vw;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #414141;
    width: 100%;
}

th{
    border:1px solid #414141;
    background-color: #eee;
    width: 20%;
}

td{
    border:1px solid #414141;
}

.block {
  max-width: 800px;
  margin: auto;
}
