
.menu {
  z-index: 1000;
}

.menu .item {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.header {
  z-index: 10;
}

.header nav {
    padding-left: 10px;
    padding-bottom: 5px;
}

.header nav a {
  text-decoration: none;
  opacity: 1.0;
  padding-left: 10px;
  color: #fff !important;
}

.header nav a:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 20px;
  // background: url("/assets/images/yogi.gif") no-repeat;

  vertical-align: bottom;
  background-size: 100%;

  font-family: 'Amatic SC', cursive;
}

.header nav a.selected {
  color: #ecd887 !important;
  opacity: 1.0;
}

.header nav a:hover {
  opacity: 0.7;
}

@media screen and (min-width: 1024px) {
  .menu {
    text-align: right;
  }

  .header nav .item {
    padding-bottom: 10px;
  }
}