<!doctype html>
<html lang="{{ site.lang | default: 'fr-FR' }}">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }} | {{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/liq2rnx.css">
</head>
<body>
  <div class="header">
    <div class="hamburger">
      <span></span>
    </div>
    <span class="logo">
      <a href="/">
        <h1 class="title">
          {{site.title}}
        </h1>
      </a>
    </span>
    <span class="menu">
      {% include navigation.html %}
    </span>
  </div>
  <div class="content {% if page.title == 'Accueil' %}accueil{% endif %} {% if page.noborder %}noborder{% endif %}">
    {% if page.title != 'Accueil' %}
      {% if page.image != 'Accueil' %}
        <div class="first section">
          <div class="title"> 
            <h1>
              {{page.title}}
            </h1>
          </div>
          <img src="/assets/images/{{page.image}}" />
        </div>

      {% else %}
        <h1 class="title">
          {{page.title}}
        </h1>
      {% endif %}
    {% endif %}
    {{ content }}
  </div>

  <div class="footer">
    <div class="network">
      <span class="logo">
        <a href="/">
          <h1 class="title">
            {{site.title}}
          </h1>
        </a>
      </span>

      <div id="social">
        <span>
          <a href="https://www.facebook.com/kenkodo.yogadoin" class="facebook" target="_blank">
            <img alt="facebook" src="/assets/images/facebook.svg"/> Facebook
          </a>
        </span>
      </div>
      <div id="details">
        Cours de Yoga et de Dō-In à Valence et Romans sur Isère.<br/>
        Accompagnement personnalisé.
      </div>
    </div>
    <div class="rights">
      © 2020 - TOUS DROITS RÉSERVÉS - <a href="/mention_legales">MENTIONS LÉGALES</a>
    </div>
  </div>

  <script type="text/javascript">
    var hamburger = document.querySelector('.hamburger');
    var menu = document.querySelector('.menu');
    hamburger.onclick = function () {
        menu.classList.toggle('open');
        hamburger.classList.toggle('close');
    };
  </script>
</body>
</html>
