<!doctype html>
<html lang="{{ site.lang | default: 'fr-FR' }}">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }} | {{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/liq2rnx.css">
</head>
<body>
  <div class="header">
    <div class="back">
      <img src="/assets/images/mandala_white.png" />
    </div>
    <div class="hamburger">
      <span></span>
    </div>
    <span class="logo">
      <h1 class="title">
        {{site.title}}
      </h1>
    </span>
    <span class="menu">
      {% include navigation.html %}
    </span>
  </div>
  <div class="content {% if page.title == 'Accueil'%}noborder{% endif %} {% if page.title == 'Me contacter'%}noborder{% endif %}">
    {% if page.title != 'Accueil' %}
      <h1 class="title">
        {{page.title}}
      </h1>
    {% endif %}
    {{ content }}
  </div>

  <script type="text/javascript">
    var hamburger = document.querySelector('.hamburger');
    var menu = document.querySelector('.menu');
    hamburger.onclick = function () {
        menu.classList.toggle('open');
        hamburger.classList.toggle('close');
    };
  </script>
</body>
</html>
